@CHARSET "UTF-8";

/* body全体設定---------------------------*/
body{
	margin-left:0;				/*左の余白を処理*/
}
/* ヘッター---------------------------------*/
#menu li {
	display:inline;				/* 横並び指定 */
}
/* メイン内容-------------------------------*/
/*掲示板全体*/
#board_main{
	padding-bottom:180px;		/*フッターのコメント投稿枠の分余白を変更*/
	margin-left:5px;			/*左の余白を変更*/
}

/*コメント全体の枠*/
.res{
	margin: 0 0 10px 0;			/*投稿されたコメント枠の余白を変更*/
	border:solid 1px;			/*投稿されたコメント枠に黒線を設定*/
}

.res_head{
	font-size: 13px;			/*投稿されたコメントの番号と投稿者の名前の文字サイズを変更*/
}

.res_foot{
	text-align:right;			/*投稿されたコメントの投稿日を左寄せ*/
	font-size: 13px;			/*投稿されたコメントの投稿日の文字サイズを変更*/
}

/* フッター---------------------------------*/
#footer{
	padding-top:5px;			/*上の余白を変更*/
	border-top:solid 1px;		/*上に黒線を設定*/
	width:100%;					/*横幅を画面いっぱいに設定*/
	height:180px;				/*高さを設定*/
	background-color : white;	/*背景色を設定*/
	position:fixed;				/*ブラウザ下にフッターに固定*/
    bottom:0;					/*ブラウザ下にフッターを固定*/
}

#post_comment{
	width:600px;				/*投稿コメントの枠サイズを変更*/
	height:100px;				/*投稿コメントの枠サイズを変更*/
}

#comment_form{
	margin-left:5px;			/*フッターのコメント枠の余白を変更*/
}